## 모듈 로드

In [1]:
from module import keyword

## 패키지 로드

In [2]:
import PIL
from PIL import Image
from keras.preprocessing import image
import pandas as pd

from tqdm.notebook import tqdm

## 데이터 로드

In [3]:
actor_df = pd.read_csv('../version_1.0/text_data/Actor_keywords.csv', encoding='utf-8-sig')
actor_df.head()

     Name  Age Sex                    5_keywords
0  Charmy   19   여     힘드다, 멋지다, 활발하다, 부족하다, 변하다
1     갈소원   16   여   예쁘다, 사랑스럽다, 유일하다, 새롭다, 성공하다
2     감우성   52   남  거대하다, 화려하다, 수상하다, 특별하다, 소소하다
3     강경준   39   남   좋아하다, 야무지다, 새롭다, 신기하다, 건강하다
4     강경헌   47   여     불타다, 젊다, 아름답다, 추악하다, 색다르다

In [4]:
webtoon_df = pd.read_csv('../version_1.0/text_data/Webtoon_keywords.csv', encoding='utf-8-sig')
webtoon_df.head()

    Title Name  Age Sex                   5_keywords
0  폭풍의전학생  주인공   10   남  당하다, 엄청나다, 굉장하다, 진정하다, 뛰어나다
1  폭풍의전학생  최완서   10   남    강하다, 강하다, 약하다, 평범하다, 멀쩡하다
2  폭풍의전학생  김대용   10   남   친하다, 비슷하다, 착하다, 상당하다, 성장하다
3  폭풍의전학생  정해인   10   남   날카롭다, 빠르다, 비슷하다, 친하다, 살벌하다
4  폭풍의전학생  황인규   10   남      나쁘다, 더럽다, 친하다, 당하다, 새롭다

## 키워드 유사도 점수 Table 만들기

In [5]:
# keyword 객체 생성
model_keyword = keyword.Keyword('../version_1.0/model_fasttext/fasttext.model')

In [6]:
keyword_score_list = []

for i in tqdm(range(len(webtoon_df))):
    keyword_score_dict = dict()
    
    webtoon_title = webtoon_df['Title'][i]
    webtoon_character_name = webtoon_df['Name'][i]
    webtoon_character_5_keywords = webtoon_df['5_keywords'][i]
    
    keyword_score_dict['Title'] = webtoon_title
    keyword_score_dict['Name'] = webtoon_character_name
    
    for j in range(len(actor_df)):
        actor_name = actor_df['Name'][j]
        actor_age = actor_df['Age'][j]
        actor_sex = actor_df['Sex'][j]
        actor_5_keywords = actor_df['5_keywords'][j]
        
        keyword_score = model_keyword.keyword_similarity(webtoon_character_5_keywords, actor_5_keywords)
        
        keyword_score_dict[f'{actor_name}_{actor_age}_{actor_sex}'] = keyword_score
        
    keyword_score_list.append(keyword_score_dict)

  0%|          | 0/470 [00:00<?, ?it/s]

In [7]:
keyword_score_df = pd.DataFrame(keyword_score_list)
keyword_score_df

,Title,Name,Charmy_19_여,갈소원_16_여,감우성_52_남,강경준_39_남,강경헌_47_여,강기영_39_남,강남길_64_남,강다현_30_여,...,황영희_53_여,황우슬혜_43_여,황은정_42_여,황정리_78_남,황정민_52_남,황정민_53_여,황정서_38_여,황정음_38_여,황채림_26_여,효민_33_여
0,폭풍의전학생,주인공,0.862552,0.761455,0.867570,0.773381,0.690676,0.821602,0.889963,0.717888,...,0.858258,0.841439,0.852744,0.813827,0.866620,0.880212,0.827434,0.842233,0.844532,0.860725
1,폭풍의전학생,최완서,0.897256,0.783448,0.877830,0.808983,0.736890,0.887594,0.942118,0.773802,...,0.863937,0.865592,0.904099,0.882191,0.905819,0.927985,0.856671,0.844361,0.928224,0.856382
2,폭풍의전학생,김대용,0.857497,0.809199,0.860649,0.864501,0.740087,0.903276,0.900833,0.730340,...,0.856955,0.826929,0.897770,0.881392,0.901842,0.906992,0.862773,0.863517,0.912594,0.846991
3,폭풍의전학생,정해인,0.837703,0.755823,0.790911,0.845871,0.738106,0.877274,0.842932,0.748585,...,0.796247,0.774284,0.877360,0.838504,0.844212,0.862997,0.866894,0.807112,0.879989,0.798069
4,폭풍의전학생,황인규,0.815079,0.800532,0.824432,0.867138,0.680432,0.848609,0.854833,0.793756,...,0.798758,0.774571,0.861252,0.786407,0.842610,0.833290,0.828220,0.848107,0.822076,0.867552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,언터처블,윤시환,0.803186,0.786953,0.768896,0.845044,0.762636,0.858163,0.776485,0.761631,...,0.798652,0.743507,0.822464,0.801169,0.804841,0.807907,0.866285,0.825099,0.847073,0.756009
466,언터처블,이모란,0.809331,0.745263,0.795887,0.849272,0.679631,0.856894,0.866210,0.797016,...,0.803126,0.764578,0.880018,0.837217,0.843331,0.839513,0.858208,0.833400,0.885225,0.805627
467,언터처블,이라기,0.766969,0.752110,0.789235,0.861240,0.785507,0.857867,0.790924,0.838944,...,0.787099,0.769713,0.879089,0.800128,0.808177,0.817812,0.913311,0.832767,0.826232,0.764524
468,언터처블,최준혁,0.849199,0.750147,0.832735,0.811327,0.751868,0.864034,0.912648,0.827474,...,0.794819,0.793782,0.873049,0.880059,0.885390,0.893203,0.837926,0.828013,0.935964,0.804803
469,언터처블,송윤서,0.757927,0.714060,0.698908,0.805467,0.628816,0.799952,0.771682,0.793015,...,0.709747,0.672208,0.822147,0.702853,0.754459,0.766141,0.806774,0.756894,0.802335,0.732555

In [8]:
# 저장
keyword_score_df.to_excel('../version_1.0/text_data/Keyword_score_table_3.xlsx', encoding='utf-8-sig', index=False)

## 이미지 유사도 점수 테이블 만들기

In [ ]:
# RS50 객체 생성
model_rs = model_rs50.RN50()

In [ ]:
PATH_1 = './image_data/Actor/'
PATH_2 = './image_data/Actor2Webtoon/'
PATH_3 = './image_data/Webtoon/'

In [ ]:
image_1 = image.load_img(PATH_1 + '갈소원_16_여.jpg', target_size=(224, 224))
image_2 = image.load_img(PATH_2 + 'webtoon_갈소원_16_여.jpg', target_size=(224, 224))
image_3 = image.load_img(PATH_3 + '간 떨어지는 동거_계선우.jpg', target_size=(224, 224))

In [ ]:
model_rs.run(image_1, image_2)

In [ ]:
image_score_list = []

for i in tqdm(range(len(webtoon_df))):
    image_score_dict = dict()
    
    webtoon_title = webtoon_df['Title'][i]
    webtoon_character_name = webtoon_df['Name'][i]
    webtoon_image = image.load_img(PATH_3 + f'{webtoon_title}_{webtoon_character_name}.jpg', target_size=(224, 224))
    
    image_score_dict['Title'] = webtoon_title
    image_score_dict['Name'] = webtoon_character_name
    
    for j in tqdm(range(len(actor_df))):
        actor_name = actor_df['Name'][j]
        actor_age = actor_df['age'][j]
        actor_sex = actor_df['Sex'][j]
        
        try:
            actor_image = image.load_img(PATH_2 + f'webtoon_{actor_name}_{actor_age}_{actor_sex}.jpg', target_size=(224, 224))
        except:
            actor_image = image.load_img(PATH_1 + f'{actor_name}_{actor_age}_{actor_sex}.jpg', target_size=(224, 224))
        
        image_score = model_rs.run(webtoon_image, actor_image)[0][0]
        image_score_dict[f'{actor_name}_{actor_age}_{actor_sex}'] = image_score
    
    image_score_list.append(image_score_dict)

In [ ]:
1. 시간은 오래걸리지만 사용자가 쓸때마다 비교를 한다.
-> 최대시간 25분
-> 100명에 2분
-> 400 -> 8분
-> 나이는 사용자가 설정하도록함... -> 성별필터 219 1009.5시간 -> 5일~6일
-> 

2. 발표3일전에 완료되지만 그냥 이대로 미리 비교를 해놓는다.

3. 성별필터는 무조건 설정.